body {
  background: #f6f6f6;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.header {
  font-family: "Open Sans", sans-serif;
}
.header__logo {
  text-align: center;
  margin-top: 1rem;
}
.header__img {
  max-width: 350px;
}
.header .menu__list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eaeaeb;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 0;
}
.header .menu__item {
  position: relative;
}
.header .menu__item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
  height: 15px;
  width: 1px;
}
.header .menu__link .link {
  padding: 0 10px;
  color: #464646;
  font-style: bold;
}
.header .menu__link .link:hover {
  color: black;
  text-decoration: underline;
  font-size: 400;
}

.search__bar {
  font-family: "Open Sans", sans-serif;
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 1px;
  border-radius: 5px;
  font-weight: bolder;
  border: 2px solid gainsboro;
  width: 1232px;
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  padding-left: 40px;
}

.breadcrumbs .crumbs {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #eaeaeb;
}

.crumb {
  padding: 10px 0 10px 0;
  margin-left: 10px;
}

.breadcrumbs li,
.breadcrumbs a {
  color: #585858;
  font-weight: bold;
}

.crumb:not(:last-child):after {
  content: "/";
  margin-right: 5px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: black;
}

.crumb:after {
  content: "/";
  margin: 0 10px 10px;
}

.filters .filter {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}

.copyright {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
}

.accessibility {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  font-weight: 800;
}

.container__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 1.5px;
}

.social {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  font-weight: 800;
}

.social p {
  text-align: center;
  width: 64px;
}

.social a {
  margin: 0 16px;
  color: black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  font-weight: 800;
}

.complaints {
  text-align: center;
}

.payment {
  text-align: center;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  justify-content: center;
}

.links a {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 2px 0;
  display: flex;
  color: black;
  flex-direction: column;
}

.contacts {
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0 4px;
  margin: 1rem auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts li {
  margin: 1rem;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container__contacts {
    display: flex;
  }
}

.container__produtos {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  border-right: solid 2px gainsboro;
}

.item {
  width: 200px;
  margin: 1rem 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  gap: 20px 10px;
}

.item img {
  width: 100%;
}

.filters .filter {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  gap: 10px;
}

.offers {
  display: flex;
  font-weight: 800;
  border-top: solid 2px gainsboro;
  gap: 12px;
  text-transform: uppercase;
  margin-left: 3px;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 12px;
}

.input__offers {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e0e0e0;
  border-right: none;
}

.button__offers {
  width: 100px;
  margin-left: 10px;
  font-weight: 800;
  color: #bdb5b5;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  background-color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
}

.input__offers::placeholder {
  color: #bdb5b5;
  font-weight: 800;
}

.offers__form {
  display: flex;
}

.mobile-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile-apps p {
  margin-right: 12px;
}

.mobile-apps img {
  margin: 12px;
  width: 150px;
}

.main__links {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.main_links a {
  width: 8px;
}

.links__ul {
  display: flex;
  margin-top: 10px;
}

.links__font {
  font-weight: bolder;
  margin-bottom: 10px;
}

.container__main {
  background-color: #f6f6f6;
}

/*# sourceMappingURL=styles.css.map */
