$search: url("../assets/search.svg");

body {
  background: #f6f6f6;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.header {
  font-family: "Open Sans", sans-serif;
  &__logo {
    text-align: center;
    margin-top: 1rem;
  }
  &__img {
    max-width: 350px;
  }
  .menu {
    &__list {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #eaeaeb;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 20px 0;
    }
    &__item {
      position: relative;
    }
    &__item::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -3px;
      margin: auto;
      height: 15px;
      width: 1px;
    }

    &__link .link {
      padding: 0 10px;
      color: #464646;
      font-style: bold;
    }
    &__link .link:hover {
      color: black;
      text-decoration: underline;
      font-size: 400;
    }
  }
}

.search__bar {
  font-family: "Open Sans", sans-serif;
  background-image: $search;
  background-repeat: no-repeat;
  background-position: 1px;
  border-radius: 5px;
  font-weight: bolder;
  border: 2px solid gainsboro;
  width: 1232px;
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  padding-left: 40px;
}
.breadcrumbs .crumbs {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #eaeaeb;
}
.crumb {
  padding: 10px 0 10px 0;
  margin-left: 10px;
}
input::placeholder {
  padding: 3rem;
}
.breadcrumbs li,
.breadcrumbs a {
  color: #585858;
  font-weight: bold;
}
.crumb:not(:last-child):after {
  content: "/";
  margin-right: 5px;
}
.breadcrumbs a:hover {
  text-decoration: underline;
  color: black;
}
.crumb:after {
  content: "/";
  margin: 0 10px 10px;
}
.filters .filter {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}

.copyright {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
}
.accessibility {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  font-weight: 800;
}
.container__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.social {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  font-weight: 800;
}
.social a p {
  color: black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  font-weight: 800;
}

.payment {
  text-align: center;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  justify-content: center;
}

.links {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  display: flex;
  color: black;
  flex-direction: column;
}
.links a {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 2px 0;
  display: flex;
  color: black;
  flex-direction: column;
}
.contacts {
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0 4px;
  margin: 1rem auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts li {
  margin: 1rem;
  text-align: center;
}

.container__produtos {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  margin: 1rem 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  gap: 20px 10px;
}
.item img {
  width: 100%;
}
.filters .filter {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  gap: 10px;
}
